body{
    background-color: blue;
    font-size: medium;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}
.main-header{
    position: relative;
   
    
}
.hello{
    float: left;
    width: 33.3%;
    border: 1px solid red;
    padding: 10px;
    box-sizing: border-box;
}
  
